.language-selector {
  margin-left: 20px;
}

.language-selector select {
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.2s;
}

.language-selector select:hover {
  border-color: #aaa;
}

.language-selector select:focus {
  border-color: #2b66dd;
  box-shadow: 0 0 0 2px rgba(43, 102, 221, 0.2);
}

/* Mobile responsive styles */
@media (max-width: 425px) {
  .language-selector {
    margin-left: 0;
    margin-right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 2rem;
  }
  
  .language-selector select {
    width: 100%;
    max-width: 120px;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: bold;
  }
}
